In [1]:
from sklearn.datasets  import load_iris ,load_breast_cancer

In [2]:
iris = load_iris()

In [3]:
from sklearn.linear_model import LogisticRegression

In [4]:
lr = LogisticRegression()

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
trainX,testX,trainY,testY = train_test_split(iris.data,iris.target)

In [7]:
lr.fit(trainX,trainY)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [8]:
lr.score(testX,testY)

1.0

In [10]:
lr.predict_proba(iris.data.data[144:146])

array([[  6.55755661e-04,   1.83504521e-01,   8.15839723e-01],
       [  1.62946288e-03,   2.58932303e-01,   7.39438234e-01]])

In [11]:
lr.coef_

array([[ 0.3809781 ,  1.37789184, -2.12112493, -0.98771126],
       [ 0.3012731 , -1.36854084,  0.57094664, -1.19565202],
       [-1.50101191, -1.34439455,  2.11542193,  2.29913249]])

In [ ]:
lr.intercept_

In [12]:
cancer_data= load_breast_cancer()

In [14]:
trainX,testX,trainY,testY = train_test_split(cancer_data.data,cancer_data.target )

In [15]:
lr.fit(trainX,trainY)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [16]:
lr.score(testX,testY)

0.95804195804195802

In [17]:
[cancer_data.data[0]]

[array([  1.79900000e+01,   1.03800000e+01,   1.22800000e+02,
          1.00100000e+03,   1.18400000e-01,   2.77600000e-01,
          3.00100000e-01,   1.47100000e-01,   2.41900000e-01,
          7.87100000e-02,   1.09500000e+00,   9.05300000e-01,
          8.58900000e+00,   1.53400000e+02,   6.39900000e-03,
          4.90400000e-02,   5.37300000e-02,   1.58700000e-02,
          3.00300000e-02,   6.19300000e-03,   2.53800000e+01,
          1.73300000e+01,   1.84600000e+02,   2.01900000e+03,
          1.62200000e-01,   6.65600000e-01,   7.11900000e-01,
          2.65400000e-01,   4.60100000e-01,   1.18900000e-01])]

In [18]:
lr.predict_proba(testX[:6])

array([[  6.41748309e-02,   9.35825169e-01],
       [  1.60242938e-01,   8.39757062e-01],
       [  9.93120146e-01,   6.87985415e-03],
       [  1.49299813e-02,   9.85070019e-01],
       [  9.99998548e-01,   1.45223522e-06],
       [  9.99999975e-01,   2.47799263e-08]])

In [19]:
lr.predict(testX[:5])

array([1, 1, 0, 1, 0])

In [20]:
testX[:5]

array([[  1.22700000e+01,   1.79200000e+01,   7.84100000e+01,
          4.66100000e+02,   8.68500000e-02,   6.52600000e-02,
          3.21100000e-02,   2.65300000e-02,   1.96600000e-01,
          5.59700000e-02,   3.34200000e-01,   1.78100000e+00,
          2.07900000e+00,   2.57900000e+01,   5.88800000e-03,
          2.31000000e-02,   2.05900000e-02,   1.07500000e-02,
          2.57800000e-02,   2.26700000e-03,   1.41000000e+01,
          2.88800000e+01,   8.90000000e+01,   6.10200000e+02,
          1.24000000e-01,   1.79500000e-01,   1.37700000e-01,
          9.53200000e-02,   3.45500000e-01,   6.89600000e-02],
       [  1.16300000e+01,   2.92900000e+01,   7.48700000e+01,
          4.15100000e+02,   9.35700000e-02,   8.57400000e-02,
          7.16000000e-02,   2.01700000e-02,   1.79900000e-01,
          6.16600000e-02,   3.13500000e-01,   2.42600000e+00,
          2.15000000e+00,   2.31300000e+01,   9.86100000e-03,
          2.41800000e-02,   4.27500000e-02,   9.21500000e-03,
          2.47500000e-02,   2.12800000e-03,   1.31200000e+01,
          3.88100000e+01,   8.60400000e+01,   5.27800000e+02,
          1.40600000e-01,   2.03100000e-01,   2.92300000e-01,
          6.83500000e-02,   2.88400000e-01,   7.22000000e-02],
       [  1.80300000e+01,   1.68500000e+01,   1.17500000e+02,
          9.90000000e+02,   8.94700000e-02,   1.23200000e-01,
          1.09000000e-01,   6.25400000e-02,   1.72000000e-01,
          5.78000000e-02,   2.98600000e-01,   5.90600000e-01,
          1.92100000e+00,   3.57700000e+01,   4.11700000e-03,
          1.56000000e-02,   2.97500000e-02,   9.75300000e-03,
          1.29500000e-02,   2.43600000e-03,   2.03800000e+01,
          2.20200000e+01,   1.33300000e+02,   1.29200000e+03,
          1.26300000e-01,   2.66600000e-01,   4.29000000e-01,
          1.53500000e-01,   2.84200000e-01,   8.22500000e-02],
       [  1.38700000e+01,   1.62100000e+01,   8.85200000e+01,
          5.93700000e+02,   8.74300000e-02,   5.49200000e-02,
          1.50200000e-02,   2.08800000e-02,   1.42400000e-01,
          5.88300000e-02,   2.54300000e-01,   1.36300000e+00,
          1.73700000e+00,   2.07400000e+01,   5.63800000e-03,
          7.93900000e-03,   5.25400000e-03,   6.04200000e-03,
          1.54400000e-02,   2.08700000e-03,   1.51100000e+01,
          2.55800000e+01,   9.67400000e+01,   6.94400000e+02,
          1.15300000e-01,   1.00800000e-01,   5.28500000e-02,
          5.55600000e-02,   2.36200000e-01,   7.11300000e-02],
       [  1.97900000e+01,   2.51200000e+01,   1.30400000e+02,
          1.19200000e+03,   1.01500000e-01,   1.58900000e-01,
          2.54500000e-01,   1.14900000e-01,   2.20200000e-01,
          6.11300000e-02,   4.95300000e-01,   1.19900000e+00,
          2.76500000e+00,   6.33300000e+01,   5.03300000e-03,
          3.17900000e-02,   4.75500000e-02,   1.04300000e-02,
          1.57800000e-02,   3.22400000e-03,   2.26300000e+01,
          3.35800000e+01,   1.48700000e+02,   1.58900000e+03,
          1.27500000e-01,   3.86100000e-01,   5.67300000e-01,
          1.73200000e-01,   3.30500000e-01,   8.46500000e-02]])

In [34]:
import pandas as pd 
import numpy as np

In [35]:
hr_data = pd.read_csv('HR_comma_sep.csv')

In [36]:
hr_data.head

<bound method NDFrame.head of        satisfaction_level  last_evaluation  number_project  \
0                    0.38             0.53               2
1                    0.80             0.86               5
2                    0.11             0.88               7
3                    0.72             0.87               5
4                    0.37             0.52               2
5                    0.41             0.50               2
6                    0.10             0.77               6
7                    0.92             0.85               5
8                    0.89             1.00               5
9                    0.42             0.53               2
10                   0.45             0.54               2
11                   0.11             0.81               6
12                   0.84             0.92               4
13                   0.41             0.55               2
14                   0.36             0.56               2
15                   0.38             0.54               2
16                   0.45             0.47               2
17                   0.78             0.99               4
18                   0.45             0.51               2
19                   0.76             0.89               5
20                   0.11             0.83               6
21                   0.38             0.55               2
22                   0.09             0.95               6
23                   0.46             0.57               2
24                   0.40             0.53               2
25                   0.89             0.92               5
26                   0.82             0.87               4
27                   0.40             0.49               2
28                   0.41             0.46               2
29                   0.38             0.50               2
...                   ...              ...             ...
14969                0.43             0.46               2
14970                0.78             0.93               4
14971                0.39             0.45               2
14972                0.11             0.97               6
14973                0.36             0.52               2
14974                0.36             0.54               2
14975                0.10             0.79               7
14976                0.40             0.47               2
14977                0.81             0.85               4
14978                0.40             0.47               2
14979                0.09             0.93               6
14980                0.76             0.89               5
14981                0.73             0.93               5
14982                0.38             0.49               2
14983                0.72             0.84               5
14984                0.40             0.56               2
14985                0.91             0.99               5
14986                0.85             0.85               4
14987                0.90             0.70               5
14988                0.46             0.55               2
14989                0.43             0.57               2
14990                0.89             0.88               5
14991                0.09             0.81               6
14992                0.40             0.48               2
14993                0.76             0.83               6
14994                0.40             0.57               2
14995                0.37             0.48               2
14996                0.37             0.53               2
14997                0.11             0.96               6
14998                0.37             0.52               2

       average_montly_hours  time_spend_company  Work_accident  left  \
0                       157                   3              0     1
1                       262                   6              0     1
2                       272                   4              0     1
3                       223                   5              0     1
4                       159                   3              0     1
5                       153                   3              0     1
6                       247                   4              0     1
7                       259                   5              0     1
8                       224                   5              0     1
9                       142                   3              0     1
10                      135                   3              0     1
11                      305                   4              0     1
12                      234                   5              0     1
13                      148                   3              0     1
14                      137                   3              0     1
15                      143                   3              0     1
16                      160                   3              0     1
17                      255                   6              0     1
18                      160                   3              1     1
19                      262                   5              0     1
20                      282                   4              0     1
21                      147                   3              0     1
22                      304                   4              0     1
23                      139                   3              0     1
24                      158                   3              0     1
25                      242                   5              0     1
26                      239                   5              0     1
27                      135                   3              0     1
28                      128                   3              0     1
29                      132                   3              0     1
...                     ...                 ...            ...   ...
14969                   157                   3              0     1
14970                   225                   5              0     1
14971                   140                   3              0     1
14972                   310                   4              0     1
14973                   143                   3              0     1
14974                   153                   3              0     1
14975                   310                   4              0     1
14976                   136                   3              0     1
14977                   251                   6              0     1
14978                   144                   3              0     1
14979                   296                   4              0     1
14980                   238                   5              0     1
14981                   162                   4              0     1
14982                   137                   3              0     1
14983                   257                   5              0     1
14984                   148                   3              0     1
14985                   254                   5              0     1
14986                   247                   6              0     1
14987                   206                   4              0     1
14988                   145                   3              0     1
14989                   159                   3              1     1
14990                   228                   5              1     1
14991                   257                   4              0     1
14992                   155                   3              0     1
14993                   293                   6              0     1
14994                   151                   3              0     1
14995                   160                   3              0     1
14996                   143                   3              0     1
14997                   280                   4              0     1
14998                   158                   3              0     1

       promotion_last_5years       sales  salary
0                          0       sales     low
1                          0       sales  medium
2                          0       sales  medium
3                          0       sales     low
4                          0       sales     low
5                          0       sales     low
6                          0       sales     low
7                          0       sales     low
8                          0       sales     low
9                          0       sales     low
10                         0       sales     low
11                         0       sales     low
12                         0       sales     low
13                         0       sales     low
14                         0       sales     low
15                         0       sales     low
16                         0       sales     low
17                         0       sales     low
18                         1       sales     low
19                         0       sales     low
20                         0       sales     low
21                         0       sales     low
22                         0       sales     low
23                         0       sales     low
24                         0       sales     low
25                         0       sales     low
26                         0       sales     low
27                         0       sales     low
28                         0  accounting     low
29                         0  accounting     low
...                      ...         ...     ...
14969                      0       sales  medium
14970                      0       sales  medium
14971                      0       sales  medium
14972                      0  accounting  medium
14973                      0  accounting  medium
14974                      0  accounting  medium
14975                      0          hr  medium
14976                      0          hr  medium
14977                      0          hr  medium
14978                      0          hr  medium
14979                      0   technical  medium
14980                      0   technical    high
14981                      0   technical     low
14982                      0   technical  medium
14983                      0   technical  medium
14984                      0   technical  medium
14985                      0   technical  medium
14986                      0   technical     low
14987                      0   technical     low
14988                      0   technical     low
14989                      0   technical     low
14990                      0     support     low
14991                      0     support     low
14992                      0     support     low
14993                      0     support     low
14994                      0     support     low
14995                      0     support     low
14996                      0     support     low
14997                      0     support     low
14998                      0     support     low

[14999 rows x 10 columns]>

In [37]:
hr_data.sales.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
le = LabelEncoder()

In [40]:

hr_data['sales']=le.fit_transform(hr_data.sales)
hr_data['salary']=le.fit_transform(hr_data.salary)

In [42]:
f=hr_data.corr()['left']

In [44]:
imp_features = np.abs(f).sort_values(ascending = False).index.tolist()[1:5]

In [46]:
trainX,testX,trainY,testY=train_test_split(hr_data[imp_features],hr_data['left'])

In [47]:
lr.fit(trainX,trainY)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [48]:
lr.score(testX,testY)

0.77413333333333334

In [49]:
imp_features

['satisfaction_level',
 'Work_accident',
 'time_spend_company',
 'average_montly_hours']

In [50]:
trainX[:5]

,satisfaction_level,Work_accident,time_spend_company,average_montly_hours
2169,0.57,0,2,142
4947,0.57,0,4,248
7444,0.91,0,2,239
5786,0.55,0,2,222
14559,0.11,0,4,264

In [55]:
lr.predict([[0.78,0,3,257]])

array([0], dtype=int64)

In [56]:
trainY[:5]

2169     0
4947     0
7444     0
5786     0
14559    1
Name: left, dtype: int64