In [2]:
import pandas as pd

In [6]:
movie_data = pd.read_json("movie.json.txt")

In [7]:
movie_data.head()

,Adam Cohen,Bill Duffy,Brenda Peterson,Chris Duncan,Clarissa Jackson,David Smith,Julie Hammel,Samuel Miller
Goodfellas,4.5,4.5,2.0,NaN,2.5,4.5,3.0,5.0
Raging Bull,NaN,NaN,1.0,4.5,4.0,3.0,NaN,5.0
Roman Holiday,3.0,NaN,4.5,NaN,1.5,NaN,4.5,1.0
Scarface,3.0,5.0,1.5,NaN,4.5,4.5,2.5,3.5
The Apartment,1.0,1.0,5.0,1.5,1.0,1.0,NaN,1.0

In [8]:
from sklearn.neighbors import NearestNeighbors

In [10]:
movie_data.fillna(0, inplace=True)

In [22]:
nn_model = NearestNeighbors(n_neighbors=4).fit(movie_data.as_matrix().T)

In [23]:
nearest_data = nn_model.kneighbors(movie_data.as_matrix().T[:2])

In [24]:
nearest_data[1]

array([[0, 1, 6, 5],
       [1, 5, 0, 4]], dtype=int64)

In [21]:
movie_data

,Adam Cohen,Bill Duffy,Brenda Peterson,Chris Duncan,Clarissa Jackson,David Smith,Julie Hammel,Samuel Miller
Goodfellas,4.5,4.5,2.0,0.0,2.5,4.5,3.0,5.0
Raging Bull,0.0,0.0,1.0,4.5,4.0,3.0,0.0,5.0
Roman Holiday,3.0,0.0,4.5,0.0,1.5,0.0,4.5,1.0
Scarface,3.0,5.0,1.5,0.0,4.5,4.5,2.5,3.5
The Apartment,1.0,1.0,5.0,1.5,1.0,1.0,0.0,1.0
Vertigo,3.5,4.5,3.0,0.0,5.0,4.0,0.0,0.0

In [29]:
def edclidian_score(movie_data, user1, user2):
    common_movie ={}
    user_df = movie_data[[user1,user2]]
    user_df.dropna()

In [37]:
common_movies_list=MV_data[['Adam Cohen', 'Bill Duffy']].dropna().index.tolist()
MV_data = pd.read_json("movie.json.txt")

In [38]:
common_movie = {}
for movie in common_movies_list:
    common_movie[movie] =1

In [39]:
common_movie

{'Goodfellas': 1, 'Scarface': 1, 'The Apartment': 1, 'Vertigo': 1}

In [40]:
common_movies_list

['Goodfellas', 'Scarface', 'The Apartment', 'Vertigo']